.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-medDLk_jH3gh);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-V_1LEC1GKj6Q);
  font-family: var(--token-vsu5JqsTFwGQ);
  font-size: var(--token-uk8IQUqNxnsG);
  line-height: var(--token-M3h7ygh3vma9);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-iOQ839x9BEmF);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-yYwcJ8aURajy);
  outline-offset: 1px;
  outline-color: var(--token-ClGq0EFX16Va);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-BSAvztDOwAY_);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-BgTlrXecqQx2);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-uoBGiekJp2nZ);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-sM28YqvGK9UU);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-1xiNSyAM-Bgm);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-szSejPdp6fGT);
  font-size: var(--token-eTp4yRUzRAWu);
  column-gap: var(--token-yYwcJ8aURajy);
  row-gap: 0px;
  border-radius: var(--token-cyqVfDF-PF-c);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-eTp4yRUzRAWu);
  line-height: var(--token-szSejPdp6fGT);
  column-gap: var(--token-cyqVfDF-PF-c);
  row-gap: 0px;
  border-radius: var(--token-cyqVfDF-PF-c);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-rqvCPSR32kzk);
  line-height: var(--token-PrvSWoCbd6hT);
  font-weight: 500;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-rqvCPSR32kzk);
  line-height: var(--token-PrvSWoCbd6hT);
  font-weight: 700;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-JnkXVq6h_WHL);
  border-radius: var(--token-iOQ839x9BEmF);
}
.softBackgroundcolor_neutral {
  background: var(--token-6sbYyhYL9ndF);
}
.softBackgroundcolor_muted {
  background: var(--token-RN9k-7V1OKcB);
}
.softBackgroundcolor_success {
  background: var(--token--WOirI1Zj_zv);
}
.softBackgroundcolor_warning {
  background: var(--token-jKSYAgKZoYsg);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-uUJn0ThUmCQf);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundtype_soft_color_neutral {
  background: var(--token-W2A5RQe6b7UB);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-iOQ839x9BEmF);
  border: 0px solid var(--token-bc169sSloXXN);
}
.bordercolor_neutral {
  border-color: var(--token-efbJMp9OHONu);
}
.bordercolor_muted {
  border-color: var(--token-A-uY5YN9U_sT);
}
.bordercolor_success {
  border-color: var(--token-LKoiC7WgWVdW);
}
.bordercolor_warning {
  border-color: var(--token-N9nlBM8fHscR);
}
.bordercolor_errorDestructive {
  border-color: var(--token-CvQlyQcrhJr6);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-iOQ839x9BEmF);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-tgr0a2wh0LFF);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-kRDyeXPP2zpC);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-_DaduATp-Agn);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__fMtbN {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-iOQ839x9BEmF);
  min-width: 0;
  min-height: 0;
  padding: var(--token-iOQ839x9BEmF) var(--token-u8tA0a-138dx);
}
.freeBoxsize_extraSmall__fMtbNtfbve {
  padding: var(--token-cyqVfDF-PF-c) var(--token-iOQ839x9BEmF);
}
.freeBoxsize_small__fMtbNaiYTs {
  padding: var(--token-iOQ839x9BEmF) var(--token-V_1LEC1GKj6Q);
}
.freeBoxsize_large__fMtbNsNapk {
  padding-top: var(--token-cyqVfDF-PF-c);
  padding-bottom: var(--token-cyqVfDF-PF-c);
}
.freeBoxsize_extraLarge__fMtbNKuLwq {
  padding-left: var(--token-oH3P-Y9Vy6MB);
  padding-right: var(--token-oH3P-Y9Vy6MB);
}
.freeBoxroundedFull__fMtbNlEjDo {
  padding-right: var(--token-oH3P-Y9Vy6MB);
  padding-left: var(--token-oH3P-Y9Vy6MB);
}
.freeBox__tjcK3 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__tjcK31Cew3 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-9L00xy6VFzXY);
}
.slotTargetStartcolor_neutral {
  color: var(--token-djcz6ORePaPg);
}
.slotTargetStartcolor_muted {
  color: var(--token-ZIS0wIphflkZ);
}
.slotTargetStartcolor_success {
  color: var(--token-b7YZGRfOikfQ);
}
.slotTargetStartcolor_warning {
  color: var(--token-7hOMJRVoQHtn);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Iwra9nYEm4Bt);
}
.slotTargetStarttype_soft {
  color: var(--token-XEArytaM_T3J);
}
.slotTargetStarttype_bordered {
  color: var(--token-XEArytaM_T3J);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-eTp4yRUzRAWu);
}
.slotTargetStartsize_small {
  font-size: var(--token-eTp4yRUzRAWu);
}
.slotTargetStartsize_large {
  font-size: var(--token-rqvCPSR32kzk);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-rqvCPSR32kzk);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-McfbBWYyoHUj);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-McfbBWYyoHUj);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-6R3xW6p-wpxv);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-6R3xW6p-wpxv);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-SKDNDg97tloQ);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-SKDNDg97tloQ);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-6PVRAO6KpuIu);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-6PVRAO6KpuIu);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-9CbA0Kk4eHHF);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-9CbA0Kk4eHHF);
}
.svg__qtLIi {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-9L00xy6VFzXY);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-djcz6ORePaPg);
}
.slotTargetLabelcolor_muted {
  color: var(--token-ZIS0wIphflkZ);
}
.slotTargetLabelcolor_success {
  color: var(--token-b7YZGRfOikfQ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-7hOMJRVoQHtn);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Iwra9nYEm4Bt);
}
.slotTargetLabeltype_soft {
  color: var(--token-XEArytaM_T3J);
}
.slotTargetLabeltype_bordered {
  color: var(--token-XEArytaM_T3J);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-McfbBWYyoHUj);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-6R3xW6p-wpxv);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-McfbBWYyoHUj);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-SKDNDg97tloQ);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-6R3xW6p-wpxv);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-6PVRAO6KpuIu);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-SKDNDg97tloQ);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-9CbA0Kk4eHHF);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-6PVRAO6KpuIu);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-9CbA0Kk4eHHF);
}
.text__qpH81 {
  white-space: pre;
}
.freeBox__uMJ {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__uMJhA1Yd {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-9L00xy6VFzXY);
}
.slotTargetEndcolor_neutral {
  color: var(--token-djcz6ORePaPg);
}
.slotTargetEndcolor_muted {
  color: var(--token-ZIS0wIphflkZ);
}
.slotTargetEndcolor_success {
  color: var(--token-b7YZGRfOikfQ);
}
.slotTargetEndcolor_warning {
  color: var(--token-7hOMJRVoQHtn);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Iwra9nYEm4Bt);
}
.slotTargetEndtype_soft {
  color: var(--token-XEArytaM_T3J);
}
.slotTargetEndtype_bordered {
  color: var(--token-XEArytaM_T3J);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-eTp4yRUzRAWu);
}
.slotTargetEndsize_small {
  font-size: var(--token-eTp4yRUzRAWu);
}
.slotTargetEndsize_large {
  font-size: var(--token-rqvCPSR32kzk);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-rqvCPSR32kzk);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-McfbBWYyoHUj);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-McfbBWYyoHUj);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-6R3xW6p-wpxv);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-6R3xW6p-wpxv);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-SKDNDg97tloQ);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-SKDNDg97tloQ);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-6PVRAO6KpuIu);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-6PVRAO6KpuIu);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-9CbA0Kk4eHHF);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-9CbA0Kk4eHHF);
}
.svg__eqowp {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
