.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background:
    linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/landing_page_starter/images/wavey.png") top 50% left 50% / cover repeat;
  row-gap: 64px;
  padding: 0px 32px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerHeroSection {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    display: none;
  }
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .htmlVideo:global(.__wab_instance) {
    display: none;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: var(--token-g9vqROPHJXJc);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 64px;
  min-width: 0;
  --plsmc-rc-col-gap: 64px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bvJJi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zg7TP {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__ft27N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__m8Lgl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__ahqo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-okebz8ri0zar);
  background: #ffffff;
  padding: 4px 8px;
}
.text__voPgm {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-MzmXtsZO6F_t);
}
.text___6SbN {
  font-size: 20px;
  color: var(--token-okebz8ri0zar);
  line-height: 28px;
}
.freeBox___4LFq6 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4LFq6 {
    display: none;
  }
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__atQs {
  position: relative;
  height: 1em;
}
.text__uKbFh {
  white-space: pre;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link {
  font-size: 18px;
}
.column__lkAkq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.signUpPrompt:global(.__wab_instance) {
  position: relative;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .signUpPrompt:global(.__wab_instance) {
    display: none;
  }
}
